body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-size: 20px;
}

main {
    position: relative;
    width: 25%;
    height: auto;
    background-color: rgb(185, 185, 185);    
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 10px;

    padding: 10px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

main .main-container {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: auto;

    box-sizing: border-box;
}

main .main-container .container-login {
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

main .main-container .container-login .forgot-password {
    float: right;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
main .main-container .container-login .forgot-password.side-left {
    float: left;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
main .main-container .container-login .forgot-password:hover {
    color: gray;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0px 2px 3px rgb(100, 19, 19);
}

input[type=submit] {
    width: 100%;
    background-color: rgb(45, 102, 224);
    color: white;
    font-weight: bolder;
    padding: 10px 10px;
    margin: 15px auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}
input[type=submit]:hover {
    background-color: #6398d4;
}
